body{margin: 0 ;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

/*----------------------
         Header Style Start 
    ------------------------*/
.main-container{
    display: grid;
    justify-content: center;
    margin-top: 80px;
}
.container{
    display: flex;
    align-items: center;
    background-color: black;
    width: 1100px;
    height: 550px;
    border-radius: 18px;
}

.text-area{width: 440px;
    height: 414px;
    color: rgb(209, 205, 205);
    padding-left: 120px;
}
.text-area h1{font-size: 60px;
                color: white;}
.fast-heading{  margin-bottom: 2px;}
.read-pra{
    margin-bottom: 30px;
   
}

.banner-img{
  padding-top: 80px;
}

.header-btn{
    background-color: rgba(237, 47, 47, 0.953);
    padding: 15px 30px;
    border-radius: 6px;
    border: none;

}
.header-btn:hover{
    background-color: rgb(255, 0, 0);
    color: bisque;
}
.live{
    padding-right:8px;
   
}

    /*----------------------
         Header Style END 
    ------------------------*/
    /* Mach section start */
    .mach-info{display: flex;}
    .side-nav{
        display: inline-block;
        margin-top: 125px;
        margin-left: 117.5px;   
        background-color: black;
        width: 255px;
       height: 225px;
       display: grid;
       justify-content: center;
    align-items: center;
    border-radius: 15px;
    }
    .wrap{
       font-size: 18px;
        color: black;
        }
        .headinng  {
            
            border-radius: 15px;
            background-color: white;   
        }
        .headinng  h1 {
            font-size: 18px;
            text-align: center;
            padding: 10px 25px;
            margin: 15px 0px;
        }
        


        .link-color{
            background-color: red;
            border-radius: 15px;
        }
        .headinng a {
            text-decoration: none;
            color: black;
        }   
           /* Mach */
           .mach-container{
            margin-top: 125px;
            margin-left: 25px;
            margin-bottom: 120px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
           grid-column-gap: 25px;
           grid-row-gap: 35px;
           }
           .mach{width: 230px;
            box-shadow: 2px 2px rgba(218, 216, 216, 0.67);
                padding: 30px 13px;
            border-radius: 6px;}
           .G-VS-F{
            display: flex;
            justify-content: center;
           }
           .mach span{
            font-size: 16px;
            font-weight: bolder;
            margin: 0px 5px;
            padding-top: 20px;
           }
           .g-vs-f-text{
            text-align: center;
           }
           .g-vs-f-header{
            font-size: 18px;
            text-shadow: 1px 1px gray;
           }

           .p-text{
            font-size: small;
            margin-top: -5px;
            color: gray;
           }


            /* Mach section End */

            /* Footer section start */

            .footer-container{
                width: 99.85%;
                height:444px ;
                background-color: black;
                border: 1px solid gray;
                
                
                text-align: center;
            }
            .footer-container h1{
                margin-top: 140px;
                color: lightblue;
            }
            .footer-head{
                margin-top: 150px;

            }
            .hline{width: 1000px;
                    border: 1px solid rgba(255, 255, 255, 0.2);
                margin-bottom: 80px;}

                    .footer-item{
                       display: flex;
                       justify-content: space-around;
                    }
                    .footer-item li{
                        color: rgba(211, 211, 211, 0.781);
                        font-size: 16px;
                        list-style: none;}

                    .footer-item li:hover{ border-bottom: 1px solid lightgray;}

                    /* Footer END */

                    /*---------------------------
                    -----------------------------
                         THANK YOU DEAR SIR 
                    ------------------------------
                    ------------------------------*/